.places{
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 92px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}
@media (max-width: 900px) {
    .places {
        max-width: 780px;
    }
}

@media (max-width: 768px) {
    .places {
        max-width: 720px;
    }
}

@media (max-width: 670px) {
    .places {
        max-width: 425px;
        margin-top: 64px;
    }
}

@media (max-width: 320px) {
    .places {
        max-width: 320px;
        margin-top: 64px;
    }
}