.place__header {
    display: flex;
    margin-bottom: 48px;
    justify-content: space-between;
    max-width: 984px;
    flex-direction: row;
}


@media (max-width: 1024px) {
    .place__header {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .place__header {
        max-width: 720px;
    }
}

@media (max-width: 700px) {
    .place__header {
        flex-direction: column;
        max-width: 390px;
    }
}

@media (max-width: 320px) {
    .place__header {
        max-width: 288px;
        flex-direction: column;
    }
}